@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    
    
    
}
nav {
    height: 8vh;
    
}

nav .logo-text {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.bg-white {
    background-color:  #FFFFFF;
    border-radius: 50px;
}
h4 {
    line-height: 40px;
}


.section-home{
    margin-top: 42px;
    position: relative;
    height: 92vh;
    box-sizing: border-box;
}

.section-home .left-side {
    position: absolute;
    right: 200px;
    z-index: -1;
    box-sizing: border-box;
       
}
.section-home .right-side {
    left: 0; 
    padding-top: 80px;   
}
.title-text {
    font-size: 40px;
    line-height: 60px;
}
.desc {
    font-size: 17px;
    line-height: 28px;
    
}
.text-bold {
    font-weight: 700;
}

.btn-green {
    background-color:  #02897A;
    color : white;
}
.text-green {
    color : #02897A;
}
.btn-outline-green {
    border: 1px solid #02897A;
    color : #02897A;
}

.section-spec {
    box-sizing: border-box;
    height: auto;
    
}
.sub-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
    
    
}
.bg-section {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 800px;
    padding: 0;
    max-width: 100%;
    z-index: -9999;
    left: 0;

    
}

.section-manajement{
    
    position: relative;
    box-sizing: border-box;
}

.section-manajement .left-side {
    position: absolute;
    right: 100px;
    z-index: -1;
    box-sizing: border-box;
       
}
.section-manajement .right-side {
    left: 0; 
    padding-top: 80px;   
}


.section-cs .container {
    
    align-items: center;
    box-sizing: border-box;
}
.section-sc .left {
     
    padding-top: 80px;   
}
.section-sc .right {
    
    padding-top: 80px;   
}
.section-cs .right .cs-item  {
       align-items: center;
       
}
.section-collab {
    height: auto;
    box-sizing: border-box;
    
}
.section-collab .container {
    position: relative;
}

.section-collab .left {
    position: absolute;
    right: 0;
}
.section-collab .right {
    position: absolute;
    left: 0;
}
.section-process {
    
    height: auto;
}

.section-process .bg {
    position: relative;
    object-fit: cover;
    object-position: center;
    top: 350px;
    padding: 0;
    max-width: 100%;
    z-index: -9999;
    transform: rotate(180deg);
    left: 0; 
    
}




@media (max-width: 768px) { 
    * {
        font-size: 14px;
    }
    .title-text {
        font-size: 28px;
        line-height: 60px;
    }
   
    .section-home{
        margin-top: 0;
        box-sizing: border-box;
        height: auto;
    }
    
    .section-home .left-side img {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .section-home .left-side {
       position: relative;
       right: 0;
    }
    .section-home .right-side {
        position: relative;
        padding: 0 20px;
        text-align: center;

            
     }

     .section-spec {
         margin-top: 150px;
         position: relative;
         height: auto;
         
         
     }
     .list-spec {
        text-align: center;
        padding: 0 60px;
        
     }
    .bg-section {
        position: absolute;
        width: 100%;
        top: 980px;
        left: 0;
        padding: 0;
        
    }
    .section-manajement{
        margin-top: 0;
        box-sizing: border-box;
        height: auto;
        padding: 8px;
    }
    
    .section-manajement .left-side img {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .section-manajement .left-side {
       position: relative;
       right: 0;
    }
    .section-manajement .right-side {
        position: relative;
        padding: 0 20px;
        
    }
    .section-cs {
        margin-top: 0;
        height: auto;
    }
    
    .section-cs .left img {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .section-collab {
        padding: 0 20px;
        height: auto;
    }
    
    .section-collab .left{
        position: relative;
    }
    .section-collab .left img{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .section-collab .right {
        position: relative;
        padding: 30px;
        
    }
    .section-process {
        position: relative;     
        height: auto;
        
    }
    .section-process .bg {
        position: absolute;
        top: 0px;
        
        }

    .section-process .bg img {
        width: 100%;
        height: auto;

    }
    .section-process .right {
        position: relative;
        
    }
    
    .section-process .testimoni img {
        width: 70px;
        height: 70px;
    }

    .section-process .list-testimoni4 {
        position: absolute;
        top:115px;
    }

    .btn-contact {
        position: relative;
        top: 230px;
    }

    .section-strategy {
        position: relative;
        top: 200px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .section-strategy .title-section-senter {
        text-align: center;
    }
    
    
    .card-item .card {
       border:none;  
        
    }
    .indicator {
        display: none;
    }

}