@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}


.logo-text {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.section-home{
    margin-top: 42px;
    position: relative;
}
.section-home .left-side {
    position: absolute;
    right: 250px;
    z-index: -1;
       
}
.section-home .right-side {
    left: 0;
    padding-left: 130px;
    padding-top: 80px;   
}
.title-text {
    font-size: 40px;
    line-height: 60px;
}
.desc {
    font-size: 17px;
    line-height: 28px;
    
}
.text-bold {
    font-weight: 700;
}

.btn-green {
    background-color:  #02897A;
    color : white;
}
.btn-outline-green {
    border: 1px solid #02897A;
    color : #02897A;
}

@media (max-width: 576px) { 
    body {
        padding: 4px;
    }
    .section-home{
        margin-top: 0;
    }
    
    .section-home .left-side img {
        width: 100%;
    }
    .section-home .left-side {
       position: relative;

       right: 0;
           
    }
    .section-home .right-side {
        /* position: relative; */
        padding: 0 20px;
        text-align: center;
            
     }
    
}